body {
    background-color: #326767;
}

#unity-canvas {
    background: #326767;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    aspect-ratio: 1 / 1;
    height: 90% !important;
}